@tailwind base;
@tailwind components;
@tailwind utilities;

.focus {
  background-color: #121212;
  color: aliceblue;
}

.quote-text {
  font-size: 1rem;
  display: grid;
  place-content: center;
  place-items: center;
}

